<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="text-align: center;">
<div th:include="css/cssBootStrap :: html"></div>
<div class="container">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>遍历</h4>
            <table class="table border">
                <thead>
                    <tr>
                        <td>标题</td>
                        <td>内容</td>
                        <td>描述</td>
                        <td>ID</td>
                        <td>创建时间</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="message : ${messageList}">
                        <td th:text="${message.title}">title</td>
                        <td th:text="${message.content}">content</td>
                        <td th:text="${message.describe}">describe</td>
                        <td th:text="${message.id}">id</td>
                        <td th:text="${#dates.format(message.create, 'dd-MM-yyyy')}">2018-07-30</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul style="margin-top:20px;margin-right:30px;" class="fa-ul">
                <li class="list-group-item"> <a th:href="@{/core/exampleHome}" class="btn btn-default"><i class="fa fa-rotate-left"></i>返回</a> </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>